<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="q1-page">
    <form method="post" action="/q2">
    

      <h1>1. What is your favorite element?</h1>
        <input type="image" src="https://s-media-cache-ak0.pinimg.com/236x/91/a7/81/91a781a3e225c1d8437756b47b9804f4.jpg" width="200px" height="200px" name="q1" value="earth">
        <input type="image" src="http://www.peterwocken.com/blog/wp-content/uploads/2013/08/element-icon-water.png" width="200px" height="200px" name="q1" value="water">
        <input type="image" src="http://www.peterwocken.com/blog/wp-content/uploads/2013/08/element-icon-fire.png" width="200px" height="200px" name="q1" value="fire">
        <input type="image" src="https://s-media-cache-ak0.pinimg.com/564x/bc/ea/90/bcea90f05e746411c32eafe0c58c5800.jpg" width="200px" height="200px" name="q1" value="air">

      </form>
      
    </div>
</body>
</html>