<div class="q2-page">
     <form method="post" action="/q3">
         <h1>2. What do you do in your free time?</h1>
           <input type="image" src="http://i.telegraph.co.uk/multimedia/archive/02503/A9CXXN_2503635b.jpg" width="100px" height="100px" name="q2" value="read">
           <input type="image" src="http://www.trimorefitness.com/wp-content/uploads/2010/11/swim-pool-free-female.jpg" width="100px" height="100px" name="q2" value="swim">
           <input type="image" src="http://listen-hard.com/wp-content/uploads/2015/07/hang-out-with-friends.jpg" width="100px" height="100px" name="q2" value="friends">
           <input type="image" src="http://www.pd4pic.com/images/france-landscape-forest-trees-nature-outside.jpg" width="100px" height="100px" name="q2" value="outside">
     </form>
</div>