<div class="q3-page">
     <form method="post" action="/q4">
        <h1>3. Which one would you rather have for lunch?</h1>
            <input type="image" src="http://afterhoursdenver.org/wp-content/uploads/2013/01/pbj.png" width="100px" height="100px" name="q3" value="pbj">
            <input type="image" src="http://static.comicvine.com/uploads/original/7/73958/1982103-pizza.jpg" width="100px" height="100px" name="q3" value="pizza">
            <input type="image" src="http://www.pioneerdad.com/wp-content/uploads/2013/08/Salad-white-plate-6069.jpg" width="100px" height="100px" name="q3" value="salad">
            <input type="image" src="https://www.panerabread.com/panerabread/menu/details/smoked-turkey-sandwich-whole.jpg/_jcr_content/renditions/smoked-turkey-sandwich-whole.desktop.jpeg" width="100px" height="100px" name="q3" value="turkey_sandwich">
    </form>
</div>