<div class="q4-page">
     <form method="post" action="/q5">
         <h1>4. Would you rather be really smart, really nice, really strong or really powerful?</h1>
        <input type="image" src="https://qph.ec.quoracdn.net/main-thumb-t-8546-200-uFtysh0YLfqWQIZvFcDOCTGSohl0yAte.jpeg" width="100px" height="100px" name="q4" value="smart">
        <input type="image" src="http://corewalking.com/wp-content/uploads/2014/05/strong.jpg" width="100px" height="100px" name="q4" value="strong">
        <input type="image" src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-because-im-a-nice-person-1.png" width="100px" height="100px" name="q4" value="nice">
        <input type="image" src="http://previews.123rf.com/images/carmenbobo/carmenbobo1404/carmenbobo140400304/27489174-Stamp-with-word-powerful-inside-vector-illustration-Stock-Vector.jpg" width="100px" height="100px" name="q4" value="powerful">
    </form>
</div>