<div class="q5-page">
    <form method="post" action="/q6">
         <h1>5. How would your friends describe you?</h1>
        <input type="image" src="http://comps.canstockphoto.com/can-stock-photo_csp22443780.jpg" height="100px" width="100px" name="q5" value="intelligent">
        <input type="image" src="http://cdn2-b.examiner.com/sites/default/files/styles/image_content_width/hash/8c/89/8c8934422978ddb0503151c0c87b3ce1.jpg?itok=VDu_bCmz" width="100px" height="100px" name="q5" value="kind">
        <input type="image" src="http://nightwriterpoet.com/wp-content/uploads/2016/07/loyal1.jpg" width="100px" height="100px" name="q5" value="loyal">
        <input type="image" src="https://lifestylerewired.com/wp-content/uploads/2014/11/dementia-test-caring-dimension.png" width="100px" height="100px" name="q5" value="caring">
    </form>
</div>