<div class="q6-page">
    <form method="post" action="/q7">
        <h1>6. What Hogwarts house do you belong in?</h1>
        <input type="image" src="http://lexicon-media.storage.googleapis.com/legacy/images/icons/shield_01-5B1-5D.jpg" width="100px" height="100px" name="q6" value="gryffindor">
        <input type="image" src="http://lexicon-media.storage.googleapis.com/legacy/images/icons/shield_rav.jpg" width="100px" height="100px" name="q6" value="ravenclaw">
        <input type="image" src="http://lexicon-media.storage.googleapis.com/legacy/images/icons/shield_sly.jpg" width="100px" height="100px" name="q6" value="slytherin">
        <input type="image" src="http://lexicon-media.storage.googleapis.com/legacy/images/icons/shield_huf.jpg" width="100px" height="100px" name="q6" value="hufflepuff">
    </form>
</div>