<div class="q7-page">
    <form method="post" action="/results">
        <h1>7. Which of these animals do you prefer?</h1>
        <input type="image" src="https://pixabay.com/static/uploads/photo/2016/02/19/15/46/dog-1210559_960_720.jpg" width="100px" height="100px" name="q7" value="dog">
        <input type="image" src="http://buzzsharer.com/wp-content/uploads/2015/06/beautiful-running-horse.jpg" width="100px" height="100px" name="q7" value="horse">
        <input type="image" src="http://cincinnatizoo.org/wp-content/uploads/2011/03/eurasian-eagle-owl.jpg" width="100px" height="100px" name="q7" value="owl">
        <input type="image" src="http://d2mlnkprj9wd81.cloudfront.net/sites/default/files/imagecache/themeSlideshow/theme-seal.jpg" width="100px" height="100px" name="q7" value="seal">
    </form>
</div>