<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
    <form>
      <input type="image" src="http://www.clipartbest.com/cliparts/niX/baL/niXbaLGiB.jpeg" width="50px" height="50px"
    </form>
      <form>
      <h1>1. What is your favorite element?<h1>
        <input type="image" src="https://s-media-cache-ak0.pinimg.com/236x/91/a7/81/91a781a3e225c1d8437756b47b9804f4.jpg" width="100px" height="100px" name="q1" value="earth">
        <input type="image" src="http://www.peterwocken.com/blog/wp-content/uploads/2013/08/element-icon-water.png" width="100px" height="100px" name="q1" value="water">
        <input type="image" src="http://www.peterwocken.com/blog/wp-content/uploads/2013/08/element-icon-fire.png" width="100px" height="100px" name="q1" value="fire">
        <input type="image" src="https://s-media-cache-ak0.pinimg.com/564x/bc/ea/90/bcea90f05e746411c32eafe0c58c5800.jpg" width="100px" height="100px" name="q1" value="air">
      </form>
      <p>2. What do you do in your free time?</p>
        <input type="image" src="http://i.telegraph.co.uk/multimedia/archive/02503/A9CXXN_2503635b.jpg" width="100px" height="100px" name="q2" value="read">
        <input type="image" src="http://www.trimorefitness.com/wp-content/uploads/2010/11/swim-pool-free-female.jpg" width="100px" height="100px" name="q2" value="swim">
        <input type="image" src="http://listen-hard.com/wp-content/uploads/2015/07/hang-out-with-friends.jpg" width="100px" height="100px" name="q2" value="friends">
        <input type="image" src="">
      <p>3. Which one would you rather have for lunch?</p>
        <li>Peanutbutter and jelly sandwiches</li>
        <li>Pizza</li>
        <li>Salad</li>
        <li>Turkey Snadwich</li>
      <p>4. Would rather be really smart, really nice, really strong or really powerful?</p>
        <li>Smart</li>
        <li>Strong</li>
        <li>Nice</li>
        <li>Powerful</li>
      <p>5. How would your friends describe you?</p>
        <li>Intelligent</li>
        <li>Strong</li>
        <li>Sassy</li>
        <li>Supportive</li>
      <p>6. What Hogwarts house do you belong in?</p>
        <li>Gryffindor</li>
        <li>Ravenclaw</li>
        <li>Slytherin</li>
        <li>Hufflepuff</li>
      <p>7. What is your favorite animal?</p>
        <li>Dog</li>
        <li>Horse</li>
        <li>Owl</li>
        <li>Seal</li>
  </div>
</body>
</html>